In [1]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join
import random
import pickle

In [44]:
with open(f'../cities_code_dict.pickle', 'rb') as handle:
    cities_code_dict = pickle.load(handle)
# cities_code_dict['Санкт-Петербург'] = '2/saint-petersburg'
# cities_code_dict['Владивосток'] = '75/vladivostok'
# cities_code_dict['Владикавказ'] = '33/vladikavkaz/'
# cities_code_dict['Вологда'] = '21/vologda'
# cities_code_dict['Воркута'] = '10940/vorkuta'
# cities_code_dict['Екатеринбург'] = '54/yekaterinburg'
# cities_code_dict['Ессентуки'] = '11057/essentuky'
# cities_code_dict['Иркутск'] = '63/irkutsk/'
# cities_code_dict['Кострома'] = '7/kostroma'
# cities_code_dict['Липецк'] = '9/lipetsk'
# cities_code_dict['Минеральные воды'] = '11063/mineralniye-vodi'
# cities_code_dict['Мурманск'] = '23/murmansk'
# cities_code_dict['Омск'] = '66/omsk'
# cities_code_dict['Орёл'] = '10/orel'
# cities_code_dict['Пятигорск'] = '11067/pyatigorsk'
# cities_code_dict['Ростов-на-Дону'] = '39/rostov-na-donu'
# cities_code_dict['Самара'] = '51/samara'
# cities_code_dict['Сочи'] = '239/sochi'
# cities_code_dict['Сургут'] = '973/surgut'
# cities_code_dict['Сызрань'] = '11139/syzran'
# cities_code_dict['Сыктывкар'] = '19/syktyvkar'
# cities_code_dict['Тула'] = '15/tula'
# cities_code_dict['Тюмень'] = '55/tyumen'
# cities_code_dict['Ханты-Мансийск'] = '57/khanty-mansiysk'
with open(f'../cities_code_dict.pickle', 'wb') as handle:
    pickle.dump(cities_code_dict, handle)

In [2]:
df = pd.read_csv('../info_all/bank/yndx_info_sberbank.csv', sep=';')
df.sample()

,ID,name,region,city,address,opening_hours,lat,lon,rating,service,...,location,deposit,insurance,atmosphere,cleanliness,interior,queue,repair,mortgage,load_time
826,sberbank/1077759704,СберБанк,Кемеровская область,Осинники,"ул. Революции, 23, Осинники","'mon': 08:30-18:30, 'tue': 08:30-18:30, 'wed':...",53.594559,87.33131,4.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-19 11:09:48

In [3]:
city_name = 'Краснодар'
len(df[df['city'] == city_name])

1

In [4]:
df[df['city'] == city_name]

,ID,name,region,city,address,opening_hours,lat,lon,rating,service,...,location,deposit,insurance,atmosphere,cleanliness,interior,queue,repair,mortgage,load_time
849,sberbank/1108341202,СберБанк,Краснодарский край,Краснодар,"Красная ул., 160, Краснодар","'mon': 10:00-19:00, 'tue': 10:00-19:00, 'wed':...",45.039808,38.976454,4.4,NaN,...,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-19 06:26:25

In [5]:
#### 
path = f'../new_links/bank/links_{city_name}.pickle'
with open(path, 'rb') as f:
    all_hrefs = pickle.load(f)
len(all_hrefs)

166

In [6]:
all_hrefs = list(all_hrefs)
sber = [i for i in all_hrefs if 'sber' in i]
len(sber)

20

In [ ]:
####

In [37]:
links_path = '../new_links/bank/'
links_files = [f for f in listdir(links_path) if isfile(join(links_path, f))]

links_files[1]

'links_Петергоф.pickle'

In [38]:
handled_city_names = []
for f in links_files:
    city_name = f.replace('links_', '').replace('.pickle', '')
    handled_city_names.append(city_name)
len(handled_city_names)

331

In [39]:
with open(f'../cities.txt') as f:
    cities = [x.strip('\n') for x in f ]
len(cities)

633

In [40]:
left_cities = list(set(cities).difference(set(handled_city_names)))
len(left_cities)

302

In [41]:
np.array(left_cities)

array(['Саянск', 'Кемь', 'Тара', 'Липецк', 'Полярные зори',
       'Ростов-на-Дону', 'Щёкино', 'Изобильный', 'Ленинск-Кузнецкий',
       'Вилючинск', 'Чистополь', 'Дзержинский', 'Тверь', 'Домодедово',
       'пгт. Новая Чара', 'п. Излучинск', 'Сафоново', 'Минеральные воды',
       'Жирновск', 'Сердобск', 'Камышлов', 'Южно-Сахалинск', 'Лесной',
       'Красногорск', 'Дивногорск', 'Сочи', 'Полярный', 'Пойковский',
       'Красноуфимск', 'д. Жуковка', 'Рубцовск', 'Юрга', 'Омск',
       'Вышний Волочёк', 'Калачинск', 'пгт. Забайкальск', 'Покачи',
       'Крымск', 'Ярославль', 'Ялуторовск', 'пос. Персиановский',
       'Лебедянь', 'Иланский', 'Людиново', 'Тихорецк', 'Орск', 'Вольск',
       'Лесозаводск', 'Тамань', 'Казань', 'Кяхта', 'Заозёрск', 'Озерск',
       'Ржев', 'с. Красноселькуп', 'Рязань', 'Советск', 'Воткинск',
       'Десногорск', 'Северобайкальск', 'Сергиев Посад',
       'п. Междуреченский', 'Искитим', 'п. Ванино', 'Элиста',
       'Красноармейск', 'Прокопьевск', 'Волхов', 'Раменское',
       'Башкортостан Октябрьский', 'Ханты-Мансийск', 'ст. Талица',
       'Екатеринбург', 'Радужный', 'Димитровград', 'Псков', 'Хасавюрт',
       'Белореченск', 'Рославль', 'п. Новоорск', 'Лыткарино', 'Коряжма',
       'Рыбинск', 'Дедовск', 'Воркута', 'Заполярный', 'Котельнич',
       'Коломна', 'Кандалакша', 'Салават', 'Миасс', 'Спасск-Дальний',
       'Берёзово', 'Дубна', 'Всеволожск', 'Лесосибирск', 'Иваново',
       'Сковородино', 'Петрозаводск', 'Щёлково', 'Тула', 'Малиновский',
       'Калуга', 'Кольчугино', 'Ишим', 'Можга', 'Великие Луки', 'Колпино',
       'Дюртюли', 'Клинцы', 'пгт. Карымское', 'Сестрорецк', 'Лянтор',
       'пос. Саянский', 'Дятьково', 'Люберцы', 'Белгород', 'Белоярский',
       'Якутск', 'Соль-Илецк', 'Рузаевка', 'Сосновый Бор', 'Первоуральск',
       'Свободный', 'Тейково', 'Стерлитамак', 'Избербаш', 'Саранск',
       'Гусиноозёрск', 'Пушкино', 'п. Айхал', 'Семёнов', 'Павлово',
       'Сальск', 'Железногорск', 'Сосногорск', 'Зима', 'Суворов', 'Тайга',
       'Павловский Посад', 'Югорск', 'Свердловская Берёзовский',
       'Карабулак', 'Киселёвск', 'Пушкин', 'Саяногорск', 'Дзержинск',
       'Протвино', 'Конаково', 'Тосно', 'ст. Павловская', 'Кингисепп',
       'Таштагол', 'Северск', 'ЗАТО Сибирский', 'Южноуральск', 'Ирбит',
       'пгт. Чернышевск', 'Кропоткин', 'Вязьма', 'Кострома', 'Ковров',
       'Полевской', 'Тихвин', 'Канаш', 'р.п. Сенной', 'п. Светлый',
       'Егорьевск', 'Кемеровская Берёзовский', 'Ясный', 'Нижний Тагил',
       'Смоленск', 'Самара', 'Балабаново', 'Верхняя Пышма', 'Топки',
       'Большой Камень', 'Таганрог', 'Лысьва', 'Касимов', 'п. Мурино',
       'Ижевск', 'Барабинск', 'Железнодорожный', 'Мурманск', 'Томск',
       'Сертолово', 'Тюмень', 'р.п. Кольцово', 'Игрим', 'Волгодонск',
       'Мыски', 'Нововоронеж', 'Владикавказ', 'Печора', 'Вологда', 'Клин',
       'Корсаков', 'Пугачёв', 'Долгопрудный', 'Дальнереченск',
       'Зубова Поляна', 'Иркутск', 'Муром', 'Переславль-Залесский',
       'Темрюк', 'Тулун', 'Обнинск', 'Москва Октябрьский', 'Исилькуль',
       'Орёл', 'п. Тазовский', 'Донецк', 'Донской', 'Санкт-Петербург',
       'Когалым', 'Старая Русса', 'Лабытнанги', 'Татарск', 'Старый Оскол',
       'Пермь', 'р.п. Краснообск', 'Коркино', 'Шимановск', 'Первомайск',
       'Сосновоборск', 'Краснокаменск', 'Жуковский', 'Ряжск', 'Тербуны',
       'Тайшет', 'п. Голышманово', 'п. Таксимо', 'Ессентуки', 'Брянск',
       'Рассказово', 'Светлоград', 'Реутов', 'п. Придорожный',
       'Прохладный', 'Пенза', 'Кондопога', 'Оленегорск', 'Одинцово',
       'Королёв', 'Лиски', 'Орехово-Зуево', 'Пыть-Ях', 'п. Свободный',
       'пгт. Промышленная', 'Ставрополь', 'Дмитров', 'Ишимбай',
       'п. Новый Ургал', 'Канск', 'Ивантеевка', 'Ступино', 'Сыктывкар',
       'Пятигорск', 'Горноправдинск', 'Владивосток', 'Сасово',
       'п. Ерофей Павлович', 'Сургут', 'Ртищево', 'Куровское', 'Сатка',
       'Североуральск', 'Камень-на-Оби', 'Серов', 'Красный Сулин',
       'Кореновск', 'Россошь', 'Копейск', 'Шилка', 'Торжок', 'Каменка',
       'Сегежа', 'Выборг', 'Талдом', 'Муравленко', 'Райчихинск', 'Выкса',
       'Серпухов', 'Сарапул', 'Льгов', 'Кашира', 'Слободской', 'Ревда',
       'Осинники', 'Тимашевск', 'Туапсе', 'Североморск', 'Сызрань',
       'Дальнегорск', 'Истра', 'Северодвинск', 'Колпашево', 'Тамбов',
       'Волжск', 'Комсомольск-на-Амуре', 'п. Магдагачи'], dtype='<U24')

In [8]:
city_names[11]

'Шахунья'

In [5]:
# path = '../links/links_backup_alfa_sber/sberbank/link_Москва.pkl'
path = '../new_links/links_Москва.pickle'
with open(path, 'rb') as f:
    all_hrefs = pickle.load(f)
len(all_hrefs)

833

In [8]:
[i for i in all_hrefs if "1006432309" in i]

['https://yandex.ru/maps/org/sberbank/1006432309/']

In [6]:
# 1056287893  in all_hrefs

if any("1006432309" in s for s in all_hrefs):
    print('jk')

jk

In [11]:
all_hrefs[-1]

'https://yandex.ru/maps/org/sberbank/1006432309'

In [7]:
all_hrefs.append('https://yandex.ru/maps/org/sberbank/1006432309')
all_hrefs[-1]

'https://yandex.ru/maps/org/sberbank/1006432309'

In [8]:
with open('../links/links_backup_alfa_sber/sberbank/link_Москва.pkl', 'wb') as handle:
        pickle.dump(all_hrefs, handle)

In [2]:
df = pd.read_csv('../info_all/yndx_info_sberbank.csv', sep=';')
df.sample()

,ID,name,region,city,address,opening_hours,lat,lon,rating,service,...,location,deposit,insurance,atmosphere,cleanliness,interior,queue,repair,mortgage,load_time
676,sberbank/1121365671,СберБанк,Москва,Москва,"ул. Лескова, 30, Москва","'mon': 08:30-19:30, 'tue': 08:30-19:30, 'wed':...",55.892799,37.616531,4.4,NaN,...,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-09-19 07:55:07

In [3]:
len(df)

919

In [4]:
len(np.unique(df['city']))

591

In [30]:
city = random.choice(np.unique(df['city']))
city

'Ангарск'

In [5]:
len(np.unique(df['ID']))

919

In [35]:
import pickle
with open(f'../links/sberbank/link_{city}.pkl', 'rb') as f:
    all_hrefs = pickle.load(f)
len(all_hrefs) # 414

1

1

In [18]:
from os import listdir
from os.path import isfile, join

links_path = f'../links/alfa_bank/'
only_links_files = [f for f in listdir(links_path) if isfile(join(links_path, f))]

for f in only_links_files:

    try:
    
        p = '../links/alfa_bank/' + f
        
        with open(p, 'rb') as f:
            all_hrefs = pickle.load(f)
    
        new_refs = [refs.replace('{bank_name}', 'alfa_bank')  for refs in all_hrefs]
        
        with open(p, 'wb') as handle:
            pickle.dump(new_refs, handle)
    except:
        print(f)

<_io.BufferedReader name='../links/alfa_bank/link_Звенигово.pkl'>
<_io.BufferedReader name='../links/alfa_bank/.DS_Store'>

In [21]:
all_hrefs

['https://yandex.ru/maps/org/alfa_bank/97853639834',
 'https://yandex.ru/maps/org/alfa_bank/203411068455',
 'https://yandex.ru/maps/org/alfa_bank/56586818540',
 'https://yandex.ru/maps/org/alfa_bank/1061556597',
 'https://yandex.ru/maps/org/alfa_bank/61225441096',
 'https://yandex.ru/maps/org/alfa_bank/150348626165',
 'https://yandex.ru/maps/org/alfa_bank/185369707954',
 'https://yandex.ru/maps/org/alfa_bank/73419427780',
 'https://yandex.ru/maps/org/alfa_bank/107518028325',
 'https://yandex.ru/maps/org/alfa_bank/1318665127',
 'https://yandex.ru/maps/org/alfa_bank/1152425281',
 'https://yandex.ru/maps/org/alfa_bank/1066499300',
 'https://yandex.ru/maps/org/alfa_bank/1688718057',
 'https://yandex.ru/maps/org/alfa_bank/1008428784',
 'https://yandex.ru/maps/org/alfa_bank/1180569314',
 'https://yandex.ru/maps/org/alfa_bank/74527019611',
 'https://yandex.ru/maps/org/alfa_bank/135440115187',
 'https://yandex.ru/maps/org/alfa_bank/1184112859',
 'https://yandex.ru/maps/org/alfa_bank/91699299995',
 'https://yandex.ru/maps/org/alfa_bank/217601592560',
 'https://yandex.ru/maps/org/alfa_bank/31839489013',
 'https://yandex.ru/maps/org/alfa_bank/1061346448',
 'https://yandex.ru/maps/org/alfa_bank/1049195804',
 'https://yandex.ru/maps/org/alfa_bank/1578298930',
 'https://yandex.ru/maps/org/alfa_bank/111745564445']