In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('../info_all/yndx_info_alfa_bank.csv', sep=';')
df.sample()

,ID,name,region,city,address,opening_hours,lat,lon,rating,service,...,location,deposit,insurance,atmosphere,cleanliness,interior,queue,repair,mortgage,load_time
498,alfa_bank/1079158923,Альфа-Банк,Москва,Москва,"ул. Перерва, 56/2, Москва","'mon': выходной, 'tue': выходной, 'wed': выход...",55.65785,37.74773,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-06 11:44:29

In [7]:
len(df)

732

In [9]:
len(np.unique(df['city']))

444

In [6]:
with open('../links/alfa_bank/', 'rb') as f:
    all_hrefs = pickle.load(f)

,ID,name,region,city,address,opening_hours,lat,lon,rating,service,...,location,deposit,insurance,atmosphere,cleanliness,interior,queue,repair,mortgage,load_time
2956,sberbank/165143711287,СберБанк,Красноярский край,Красноярск,"ул. Академика Павлова, 48, Красноярск","'mon': 09:00-18:30, 'tue': 09:00-18:30, 'wed':...",55.99505,92.948476,4.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-05 05:43:10

In [22]:
import pickle
with open('../links/alfa_bank/link_Звенигово.pkl', 'rb') as f:
    all_hrefs = pickle.load(f)

EOFError: Ran out of input

In [18]:
from os import listdir
from os.path import isfile, join

links_path = f'../links/alfa_bank/'
only_links_files = [f for f in listdir(links_path) if isfile(join(links_path, f))]

for f in only_links_files:

    try:
    
        p = '../links/alfa_bank/' + f
        
        with open(p, 'rb') as f:
            all_hrefs = pickle.load(f)
    
        new_refs = [refs.replace('{bank_name}', 'alfa_bank')  for refs in all_hrefs]
        
        with open(p, 'wb') as handle:
            pickle.dump(new_refs, handle)
    except:
        print(f)

<_io.BufferedReader name='../links/alfa_bank/link_Звенигово.pkl'>
<_io.BufferedReader name='../links/alfa_bank/.DS_Store'>

In [21]:
all_hrefs

['https://yandex.ru/maps/org/alfa_bank/97853639834',
 'https://yandex.ru/maps/org/alfa_bank/203411068455',
 'https://yandex.ru/maps/org/alfa_bank/56586818540',
 'https://yandex.ru/maps/org/alfa_bank/1061556597',
 'https://yandex.ru/maps/org/alfa_bank/61225441096',
 'https://yandex.ru/maps/org/alfa_bank/150348626165',
 'https://yandex.ru/maps/org/alfa_bank/185369707954',
 'https://yandex.ru/maps/org/alfa_bank/73419427780',
 'https://yandex.ru/maps/org/alfa_bank/107518028325',
 'https://yandex.ru/maps/org/alfa_bank/1318665127',
 'https://yandex.ru/maps/org/alfa_bank/1152425281',
 'https://yandex.ru/maps/org/alfa_bank/1066499300',
 'https://yandex.ru/maps/org/alfa_bank/1688718057',
 'https://yandex.ru/maps/org/alfa_bank/1008428784',
 'https://yandex.ru/maps/org/alfa_bank/1180569314',
 'https://yandex.ru/maps/org/alfa_bank/74527019611',
 'https://yandex.ru/maps/org/alfa_bank/135440115187',
 'https://yandex.ru/maps/org/alfa_bank/1184112859',
 'https://yandex.ru/maps/org/alfa_bank/91699299995',
 'https://yandex.ru/maps/org/alfa_bank/217601592560',
 'https://yandex.ru/maps/org/alfa_bank/31839489013',
 'https://yandex.ru/maps/org/alfa_bank/1061346448',
 'https://yandex.ru/maps/org/alfa_bank/1049195804',
 'https://yandex.ru/maps/org/alfa_bank/1578298930',
 'https://yandex.ru/maps/org/alfa_bank/111745564445']