In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../info_all/alfa_bank_info_all.csv', sep=',')
df.sample()

,ID,name,address,website,opening_hours,lat,lon,rating,phone,social,...,Обслуживание,Отношение к клиентам,Страхование,Вклад,Атмосфера,Эпиляция,Чистота,Интерьер,Очереди,region
242,84075129479,Альфа-Банк,"ул. Революции 1905 года, 12/26, Грязи",alfabank.ru,"'mon': 10:00-19:00, 'tue': 10:00-19:00, 'wed':...",52.492666,39.947623,"4,7",['8 (800) 200-00-00Показать телефон'],"['https://ok.ru/alfabank', 'https://t.me/alfab...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Липецкая область

In [5]:
'region' in df.columns

True

In [22]:
df['city'] = df['city'].str.replace('-На-', '-на-')
df['city'] = df['city'].str.replace('П.', 'п.')

In [23]:
regions = pd.read_excel('../city_region.xlsx')
regions.sample(2)

            city               region
596  Южноуральск  Челябинская область
275       Курган   Курганская область

In [24]:
regions[regions['region'].str.contains('Ростов')]

                   city              region
4                  Азов  Ростовская область
5                 Аксай  Ростовская область
44              Батайск  Ростовская область
45        Белая Калитва  Ростовская область
95           Волгодонск  Ростовская область
127              Гуково  Ростовская область
144              Донецк  Ростовская область
204  Каменск-Шахтинский  Ростовская область
264       Красный Сулин  Ростовская область
319           Миллерово  Ростовская область
369        Новочеркасск  Ростовская область
370        Новошахтинск  Ростовская область
430      Ростов-на-Дону  Ростовская область
439              Сальск  Ростовская область
497            Таганрог  Ростовская область
581               Шахты  Ростовская область
624  пос. Персиановский  Ростовская область

In [25]:
df = pd.merge(df, regions, on='city', how='left')
df[['city', 'region']].sample(7)

                        city               region
408                Краснодар   Краснодарский край
435                 Мурманск   Мурманская область
11                   Иркутск    Иркутская область
56                     Канск    Красноярский край
239                  Барнаул       Алтайский край
467                    Чехов   Московская область
218  Кемеровская Берёзовский  Кемеровская область

In [26]:
df[df['region'].isnull()][['address', 'city', 'region']]

                                             address              city region
136                  просп. Губкина, 1, Старый Оскол           Губкин     NaN
137                           ул. Кирова, 53, Губкин           Губкин     NaN
138                      ул. Космонавтов, 14, Губкин           Губкин     NaN
181                  Театральная ул., 6, Берёзовский       Берёзовский    NaN
182                  Восточная ул., 11А, Берёзовский       Берёзовский    NaN
273                        Колхозная ул., 1, Городец         Заволжье     NaN
304  просп. 22-го Партсъезда, 94/1, Минеральные Воды  Минеральные Воды    NaN
412             бул. Менделеева, 11, корп. 1, Мурино         П. Мурино    NaN
610           площадь Ленина, 1, корп. 3, Барановичи        Барановичи    NaN
667                    просп. Ленина, 5, Октябрьский       Октябрьский    NaN

In [15]:
# for row in df.itertuples():
#     s = row.opening_hours.strip()
#     if "," in s[-1]:
#         s = s[:-1]

#         df.loc[row.Index, 'opening_hours'] = s

In [213]:
df[ 'opening_hours'] = \
df[ 'opening_hours'].replace("'mon': выходной, 'tue': выходной, 'wed': выходной, 'thu': выходной, 'fri': выходной, 'sat': выходной, 'sun': выходной, ", "")

In [214]:
df['address'] = df['address'].str.replace('Бердянськ', \
                                          'Бердянск').str.replace('Макіївка', \
                                        'Макеевка').str.replace('Горлівка', \
                                        'Горловка').str.replace('Мелітополь', 'Мелитополь')

In [215]:
df[df['ID']  == 'tsentralny_respublikanskiy_bank/93795765810/']

,ID,name,address,website,opening_hours,lat,lon,rating,phone,social,load_time,city,Время ожидания,Персонал
145,tsentralny_respublikanskiy_bank/93795765810/,Центральный республиканский банк,"вулиця Черняховського, 58, Горловка",NaN,,48.360209,38.001495,NaN,[],[],2024-07-17 16:17:30,Горловка,NaN,NaN

In [216]:
df.drop(['Время ожидания', 'Время ожидания', 'Персонал'], axis=1, inplace=True)

In [217]:
s = 'Заводская ул., 94, Ясиноватая'
s.split(',')[-1]

' Ясиноватая'

In [218]:
cities_list = [
        'Донецк',
        'Бердянск',
        'Мариуполь',
        'Макеевка',
        'Горловка',
        'Енакиево',
        'Шахтёрск',
        'Торез', 
        'Луганск',
        'Алчевск',
        'Мелитополь',
        'Берянск',
        'Каланчак', 
        'Скадовск',
        'Геническ']

In [219]:
def extract_city(s):
    try: 
        city = s.split(',')[-1].strip()
    except:
        city = None

    for c in ['Донецк', 'Макеевка', 'Енакиево', 'Мариуполь', 'Бердянск',
        'Макеевка',
        'Горловка',
        'Енакиево',
        'Шахтёрск',
        'Торез',  
        'Луганск',
        'Алчевск',
        'Мелитополь',
        'Берянск',
        'Каланчак', 
        'Скадовск',
        'Геническ']:
        if type(s) == str  and c in s:
            city = c
    # if type(s) ==str and 'Макеевка' in s:
    #     city = 'Макеевка'
    # if type(s) ==str and 'Алчевск' in s:
        # city = 'Алчевск'
    return city

In [220]:
df['city'] = df['address'].apply(extract_city)

In [221]:
df[['address', 'city']].sample(7)

                              address       city
53           Полоцкая ул., 13, Донецк     Донецк
315      Азовский просп., 2, Бердянск   Бердянск
418       просп. Мира, 130, Мариуполь  Мариуполь
127      Донецк, Цветочный микрорайон     Донецк
11   бул. Шахтостроителей, 7Б, Донецк     Донецк
185  ул. Карла Либкнехта, 62, Луганск    Луганск
244      Вокзальная ул., 70, Харцызск   Харцызск

In [223]:
# df[df['name']== 'Скамейка']

In [207]:
df = df[df['name']!= 'Скамейка']
len(df)

396

In [208]:
f = df[df['city'].isin(cities_list)].sort_values('city')
len(f)

367

In [209]:
f.to_excel("new_russia_banks.xlsx", index=False)

In [155]:
len(f[f['city'] == 'Бердянск'])

27

In [2]:
df = pd.read_csv('info_output/bank_outputs_2024_04_04.csv')
df.head()

   Unnamed: 0                                            outputs
0           0  {'ID': 1, 'name': '', 'address': '', 'website'...
1           1  {'ID': 2, 'name': '', 'address': '', 'website'...
2           2  {'ID': 3, 'name': '', 'address': '', 'website'...
3           3  {'ID': 4, 'name': '', 'address': '', 'website'...
4           4  {'ID': 5, 'name': '', 'address': '', 'website'...

In [8]:
df.loc[0, 'outputs']

"{'ID': 1, 'name': '', 'address': '', 'website': '', 'opening_hours': {'mon': 'выходной', 'tue': 'выходной', 'wed': 'выходной', 'thu': 'выходной', 'fri': 'выходной', 'sat': 'выходной', 'sun': 'выходной'}, 'ypage': 'https://yandex.ru/showcaptcha?mt=DC65A41B3C34EBD0B6472245A5EF4BE0FC1D72ADF8EC6A65DBD1F5F60FC253F9960981331A06EF43C879A52FBA7ED5D409D8EA5E4A9A615F74834DBDC73B9D76EB873696791156F6D1D0F722E4EAEFC10ED2D3C518C4A16BDE1906C918D3CD1EF6ABF215EDA82FEF576DB1319636A34726657240083B9F29A57C77BAE971B0FFE80C9DC6F9D762C65E85A270384E2C13AD2AE9916B0E806EE6C319D138CEDBD40700323DEF13EF3883061F8574099CC8396A1BBAF5384FCA2D29D2BAD1B7A54FA075CA1AB287AD39C831768C92B2A8DEA95473B51F10FE64925923&retpath=aHR0cHM6Ly95YW5kZXgucnUvbWFwcy9vcmcvYmFua192dGIvMTMxOTgwNDQ2ND8%2C_b77b5c621bebb841de75e9ef519b9e68&t=2/1712216207/03d760969bbea22e88a91ec6a201d427&u=3b57a9d9-dee4e842-3bddda8f-cc3944d0&s=4f79cb599466f93e57636c7b09a8c561', 'goods': None, 'rating': '', 'reviews': None, 'phone': [], 'social': []}"

In [9]:
s = {'ID': 1, 'name': '', 'address': '', 'website': '', 'opening_hours': {'mon': 'выходной', 'tue': 'выходной', 'wed': 'выходной', 'thu': 'выходной', 'fri': 'выходной', 'sat': 'выходной', 'sun': 'выходной'}, 'ypage': 'https://yandex.ru/showcaptcha?mt=DC65A41B3C34EBD0B6472245A5EF4BE0FC1D72ADF8EC6A65DBD1F5F60FC253F9960981331A06EF43C879A52FBA7ED5D409D8EA5E4A9A615F74834DBDC73B9D76EB873696791156F6D1D0F722E4EAEFC10ED2D3C518C4A16BDE1906C918D3CD1EF6ABF215EDA82FEF576DB1319636A34726657240083B9F29A57C77BAE971B0FFE80C9DC6F9D762C65E85A270384E2C13AD2AE9916B0E806EE6C319D138CEDBD40700323DEF13EF3883061F8574099CC8396A1BBAF5384FCA2D29D2BAD1B7A54FA075CA1AB287AD39C831768C92B2A8DEA95473B51F10FE64925923&retpath=aHR0cHM6Ly95YW5kZXgucnUvbWFwcy9vcmcvYmFua192dGIvMTMxOTgwNDQ2ND8%2C_b77b5c621bebb841de75e9ef519b9e68&t=2/1712216207/03d760969bbea22e88a91ec6a201d427&u=3b57a9d9-dee4e842-3bddda8f-cc3944d0&s=4f79cb599466f93e57636c7b09a8c561', 'goods': None, 'rating': '', 'reviews': None, 'phone': [], 'social': []}

In [11]:
outputs = [{'ID': 1, 'name': '', 'address': '', 'website': '', 'opening_hours': {'mon': 'выходной', 'tue': 'выходной', 'wed': 'выходной', 'thu': 'выходной', 'fri': 'выходной', 'sat': 'выходной', 'sun': 'выходной'}, 'ypage': 'https://yandex.ru/showcaptcha?mt=DC65A41B3C34EBD0B6472245A5EF4BE0FC1D72ADF8EC6A65DBD1F5F60FC253F9960981331A06EF43C879A52FBA7ED5D409D8EA5E4A9A615F74834DBDC73B9D76EB873696791156F6D1D0F722E4EAEFC10ED2D3C518C4A16BDE1906C918D3CD1EF6ABF215EDA82FEF576DB1319636A34726657240083B9F29A57C77BAE971B0FFE80C9DC6F9D762C65E85A270384E2C13AD2AE9916B0E806EE6C319D138CEDBD40700323DEF13EF3883061F8574099CC8396A1BBAF5384FCA2D29D2BAD1B7A54FA075CA1AB287AD39C831768C92B2A8DEA95473B51F10FE64925923&retpath=aHR0cHM6Ly95YW5kZXgucnUvbWFwcy9vcmcvYmFua192dGIvMTMxOTgwNDQ2ND8%2C_b77b5c621bebb841de75e9ef519b9e68&t=2/1712216207/03d760969bbea22e88a91ec6a201d427&u=3b57a9d9-dee4e842-3bddda8f-cc3944d0&s=4f79cb599466f93e57636c7b09a8c561', 'goods': None, 'rating': '', 'reviews': None, 'phone': [], 'social': []}, {'ID': 1, 'name': '', 'address': '', 'website': '', 'opening_hours': {'mon': 'выходной', 'tue': 'выходной', 'wed': 'выходной', 'thu': 'выходной', 'fri': 'выходной', 'sat': 'выходной', 'sun': 'выходной'}, 'ypage': 'https://yandex.ru/showcaptcha?mt=DC65A41B3C34EBD0B6472245A5EF4BE0FC1D72ADF8EC6A65DBD1F5F60FC253F9960981331A06EF43C879A52FBA7ED5D409D8EA5E4A9A615F74834DBDC73B9D76EB873696791156F6D1D0F722E4EAEFC10ED2D3C518C4A16BDE1906C918D3CD1EF6ABF215EDA82FEF576DB1319636A34726657240083B9F29A57C77BAE971B0FFE80C9DC6F9D762C65E85A270384E2C13AD2AE9916B0E806EE6C319D138CEDBD40700323DEF13EF3883061F8574099CC8396A1BBAF5384FCA2D29D2BAD1B7A54FA075CA1AB287AD39C831768C92B2A8DEA95473B51F10FE64925923&retpath=aHR0cHM6Ly95YW5kZXgucnUvbWFwcy9vcmcvYmFua192dGIvMTMxOTgwNDQ2ND8%2C_b77b5c621bebb841de75e9ef519b9e68&t=2/1712216207/03d760969bbea22e88a91ec6a201d427&u=3b57a9d9-dee4e842-3bddda8f-cc3944d0&s=4f79cb599466f93e57636c7b09a8c561', 'goods': None, 'rating': '', 'reviews': None, 'phone': [], 'social': []}]

In [12]:
pd.json_normalize(outputs)

,ID,name,address,website,ypage,goods,rating,reviews,phone,social,opening_hours.mon,opening_hours.tue,opening_hours.wed,opening_hours.thu,opening_hours.fri,opening_hours.sat,opening_hours.sun
0,1,,,,https://yandex.ru/showcaptcha?mt=DC65A41B3C34E...,None,,None,[],[],выходной,выходной,выходной,выходной,выходной,выходной,выходной
1,1,,,,https://yandex.ru/showcaptcha?mt=DC65A41B3C34E...,None,,None,[],[],выходной,выходной,выходной,выходной,выходной,выходной,выходной